<section class="filter">
  <div class="wrapper">
    <div class="filter-inner">
      <div class="filter__options">
        <span>Sorting by:</span>
        <ul class="font-color-brand">
          <li class="filter__option filter__option_underline">date</li>
          <li class="filter__option filter__option_underline">count of views</li>
          <li class="filter__option">by word or sentance
            <input type="text">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
