@import "./../../../constants";

.filter {
  height: 50px;

  &-inner {
    @include wrapper-inner;
  }

  &__options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0 10px;
    list-style: none;
  }

  &__option {
    cursor: pointer;

    &_underline {
      text-decoration: underline;
    }

    // &:hover {
    //   opacity: .6;
    // }
  }
}
