@import "./../../../constants";

.header {
  height: 80px;

  &-inner {
    @include wrapper-inner(relative);
  }

  &__main-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-right: 10px;
    transition: $transition-hover;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .6;
    }
  }

  &__user {
    position: absolute;
    right: 0;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
    }

    &-name {
      padding-right: 5px;
    }

    &-icon {
      @include brand-shadow-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 1.7em;
    }

    &:hover &-icon {
      background-color: $color-brand-hover;
      filter: none;
    }
  }
}

.search {
  display: flex;

  * {
    height: 25px;
  }

  &__input {
    background-color: #efefef;
  }

  &__submit {
    width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__settings {
    width: 25px;
    margin-left: 10px;
  }

}
