 <header class="header">
  <div class="wrapper">
    <div class="header-inner">
      <div class="header__main-column">
        <img src="../../../assets/images/logo.png" alt="Youtube Client" class="header__logo">
        <div class="search">
          <input type="text" class="search__input" placeholder="What are you want to find out?">
          <button class="search__submit btn">search</button>
          <button class="search__settings btn">
            <span class="material-icons">tune</span>
          </button>
        </div>
      </div>
      <div class="header__user">
        <a href="">
          <span class="header__user-name">Your Name</span>
          <span class="material-icons header__user-icon">account_circle</span>
        </a>
      </div>
    </div>
  </div>
</header>
